# Project report template

Please use this template to report the status of your project to the instructor.<br>
This cell contains some general instructions. It must not be present in your report,<br>

**Instructions**
- *Instructions are written in italics and must be removed from your report*
- The markdown text formatting is an HTML dialect. You can use HTML commands to format your report. For example, use:
    - \<br\> to wrap
    - \<!-- comment --\> to insert an invisible comment

# Title of the project

Date: 28/03/2024 <br>
Version: 1 <br>

**Course**: Managerial Decision Making & Modeling

**Investigator(s)**
- Giuseppe Massidda , 901029@stud.unive.it
- Lorenzo Muscillo , 1000916@stud.unive.it

## Document review(s)

*Fill in a cell like this one for each document review sent to the instructor.*

Version: *Version of your document*
- Modified sections: *List the sections that you have modified, e.g., All, or Model, or Scenatio 1*
- Description/modifications: *A short description of your modifications, e.g., First draft, or Introduced new constraints, or introduced a new scenario*
- Transmitted on date: *dd/mm/yyyy - Date you submitted this version of the report to the instructor*

# 1 - Abstract
*A short summary, usually between 100 and 200 words.*<br>
*Summarize this report's background, purpose, methodology, results, and conclusion.*

# 2 - Acronyms and definitions
*Include this section if you use acronyms or technical terms in the text whose meaning may be unknown to the reader, may not correspond to the commonly understood meaning, or may otherwise be ambiguous.*

*For example:*
- *Unive: Universit√† Ca' Foscari, Venice*.
- *Facility: Warehouse with refrigerators dedicated to the storage of ice cream*.
- *Distance: Great circle distance, i.e., as the crow flies, between two points*.

# 3 - Problem statement
<hr>

The board of Walmart Inc. commissioned an analysis of different scenarios of potential entry in the Italian market. The main issue that walmart faces when entering a different country relates to the cultural affinity of the customers for Walmart's brand and value proposition. For this reason, the board decided to start operating only in the Lombardia region. 

The goal of the operation is maximizing profits.

Profits can be estimated by adding the EBITDA (margine operativo lordo) of the first 5 years minus the cost of purchasing the property and the cost of building the store.

The board wants to know how many retail locations should be opened and where. The main challenge is finding suitable locations. A Walmart store is built on a large lot of land that has room for a large parking lot. For this reason empty lots are preferred to preexisting commercial buildings. Lots have to be within 20 and 60 thousands square kilometers.

The EBITDA of a store depends on the population that is near the location and the size of the store. Only one store can consider a comune's population as its potential customer base. The store will attract a higher share of customers from a comune if it is larger and if it is closer to that comune

# 4 - System

## 4.1 - Agents/DMs
*List the agents and DMs of interest to the problem.* <br>
*Specify their attributes/characteristics (corresponding to the data to be collected) 
and, in the case of DMs, also their, possibly multiple, objectives.*
<hr>
The main decision maker is the company. Its objective is to place a number of stores in such a way that maximises profits.

Customers are another agent of the system, they can be modeled as a population center (comune) that can be served by only one store.

## 4.2 - Entities
*List the entities of interest to the problem.* <br>
*Specify their attributes/characteristics (corresponding to the data to be collected)*
<hr>
The potential lots to to be acquired are the key components of the system.
Large commercial lots for sale on immobiliare.it will be considered. Data that has to be collected relates to the price, the location of the lot so that its distance from customers can be calculated.



## 4.3 - Relationships among elements
*List the relationships/interactions between the elements.*<br>
*Specify their attributes/characteristics of interest to the problem (corresponding to the data to be collected) 
and the constraints they impose on the DMs' decisions.*
<hr>
A store EBITDA depends on the positioning of the stores, the closer a store is to a population center the higher it will be. EBITDA is also higher for larger stores.
Costs are made up by two factors: a fixed cost that is the purchasing price of the lot, and a variable cost of construction that increases with the size of the store.

## 4.4 - Other constituents of the system
*List the possible external disturbances, internal uncertainties, externalities, 
and other components necessary to describe the system as a whole a
and to understand the consequences of the DMs' decisions.*
<hr>

The success of such operation relies also on factors that are hard to model mathematically, for example cultural affinity of the customers for the brand and value proposition.

Also there is a lot of uncertainty coming from the number of metrics that have to be estimated: average construction cost as a function of size; average share of a comune's population that can be attracted by a store as a function of its size and distance; average EBITDA as a function of the population attracted.

## 4.5 - Assumptions
*Clearly state any assumptions you make about the system, as in the following example:*<br>
**Assumption**: *The demand for products decreases linearly with the price of the products.*

<hr>

**Assumption**: EBITDA is linearly proportional to number of customers attracted.

**Assumption**: A comune's entire population can be served only by one store.

**Assumption**: The number of customers attracted by a store is:
- decreasing in distance to the store.
- increasing in the size of the store.

**Assumption**: Costs are made up by two components:
- the purchase price of the lot,
- the construction costs, which are proportional to the lot size.

# 5 - Data

- *List the data sources*
- *Indicate the name of the csv/json/xlsx files that contain the data 
and provide a short describtion of how the data is organized* 
- *Clearly state possible assumptions, as in the following examples*

**Assumption**: *Unit transportation cost data can be purchased from www.site.com. However, the data used in this project is artificially generated according to the following rule:*

*unit transportation cost_{w,c} = 0.5 x great circle distance between warehouse w and customer c*


**Assumption**: *The transportation costs are assumed as follows:*

*unit transportation cost_{w,c} = alpha x distance between warehouse w and customer c*

*fixed transportation cost_{w,c} = beta*

<hr>

**Assumption**: lots can be purchased from many different channels, however we will consider only the ones listed for sale on immobiliare.it for which an address/coordinates as well as price and surface area are provided. We will use a web scraping script to download the data. Using the openstreetmap overpass api we will calculate the distance from the other elements of the model.

Thus data on the lots/properties will be a data frame with three columns: price, area, coordinates.

**Assumption** We will assume the population is entirely concentrated in the center of the comune. Population data will be taken from ISTAT website. The customers data will be represented in a dataframe with all the comuni in the rows, and one column for coordinates of the center, one column for population.


**Assumption** the EBITDA of a store is equal to the number of customers attracted times a constant that can be estimated looking at competitors.

**Assumption** the number of customers from comune $C_i$ attracted by a store in $P_j$ is equal to $POP_i \cdot f_1(dist(C_i,P_j)) * f_2(SIZE_j)$ where $f_1$ is a function $ dist\mapsto [0,1]$ that gives the proportion of

# 5 - Scenario 1
*Fill in a section like this for each scenario*

## 5.1 - Mathematical model 
*Use this subsection to present the code of the main mathematical model for the considered problem*

<hr>

$C$ = Set of municipalities $\cong \{1,...,n\}$ <br>
$C_{pop_i}$ = Population of municipalities <br>
$Lon_{C_i}$; $Lat_{C_i}$ = Longitude and latitude of municipalities <br>
<br>
$P$ = Property, for every property we obtain **surface**, **price** and **coordinates** $\cong \{1,...,m\}$ 

<hr>

*Decision Variable* <br>

$y_j = \{ 0;1 \}$ if $P_j$ is choosen

$x_{j_i} = \{ 0;1\}$ if $P_{j_i}$ serves $C_i$

So we estimated the revenues for every property: <br>
<br>
$REV_{P_j} = \alpha K_{j} * \sum^{n}_{j = 1}(\frac{pop_i}{dist(C_i;P_j)}) * x_{j_i}$

$COST_{P_j} = y_j * [PricePurcasing_j + (Construnctions_j * Surface_j)]$ <br>

<br>
Where $K$ is a constant obtained by ...

### 5.1.1 - Preliminary operations
*Comment the code in the next cell that performs the preliminary operations, for example:*
- *load libraries,* 
- *define functions.*

In [1]:
# Web scarping functions to search the informations that we need for the properties.
import pandas as pd
import requests
from bs4 import BeautifulSoup

def get_soup(url, params = None, headers = None):
    response = requests.get(url, params = params,
                            headers = headers)
    soup = BeautifulSoup(response.content, "html.parser")
    return soup

def get_num_pages(url):
    soup = get_soup(url)
    pages_div = soup.find_all("div", class_ = "in-pagination__item")
    pages_a = soup.find_all("a", class_ = "in-pagination__item")
    
    pages_div = [page.text for page in pages_div]
    pages_a = [page.text for page in pages_a]
    
    num_list = list()
    for page in pages_a + pages_div:
        try:
            num = int(page)
            num_list.append(num)
        except:
            continue
    return max(num_list)

def get_info_from_ad(ad):
    title = ad.find("a", class_ = "in-reListCard__title").text
    price = ad.find("div", class_ = "in-reListCardPrice").text
    infos = ad.find_all("div", class_ = "in-reListCardFeatureList__item")
    infos_text = [info.text for info in infos]
    res = {"title" : title, "price" : price, "infos":infos_text}
    return res

def get_immobiliare_info(url, params = None, headers = None):
    soup = get_soup(url, params= params, headers= headers)
    lands = soup.find_all("div", class_ = "nd-mediaObject__content")
    res = []
    for i,land in enumerate(lands):
        res.append(get_info_from_ad(land))
    return res

def get_all_from_region(region):

    url = "https://www.immobiliare.it/vendita-terreni/{}/?criterio=rilevanza&superficieMinima=20000&superficieMassima=60000&idTipologia=107".format(region)
    url_with_page_num = url+"&pag={}"

    num_pages = get_num_pages(url)
    items = list()
    for i in range(1,num_pages+1):
        items.extend(get_immobiliare_info(url_with_page_num.format(i)))
    return items

all_ads = dict()
for region in ["lombardia", "veneto"]:
    all_ads[region]= get_all_from_region(region)

for region in all_ads:
    print(region, "number of lands:", len(all_ads[region]))

import json
with open("ad.json", 'w') as json_file:
    json.dump(all_ads, json_file)

lombardia number of lands: 291
veneto number of lands: 166

In [2]:
import pandas as pd
import json

with open("ad.json", "r") as json_file:
    all_ads = json.load(json_file)

streets = []
prices = []
titles = []
surfaces = []

for region, ads in all_ads.items():
    for ad in ads:
        title = ad["title"]
        price = ad["price"]
        surface = ad["infos"]

        streets.append(title)  
        prices.append(price)
        titles.append(title)
        surfaces.append(surface)

data = {
    "Title": titles,
    "Price": prices,
    "Surface m^2": surfaces
}
df_prop = pd.DataFrame(data)
# df_prop.set_index("Title", inplace=True)

def remove_words(address):
    return address.replace("Terreno edificabile", "")


df_prop["Title"] = df_prop["Title"].str.replace("Terreno edificabile", "")


df_prop["Title"] = df_prop["Title"].str.capitalize()


df_prop = df_prop[~df_prop["Title"].str.contains("Terreno residenziale")]
df_prop = df_prop[~df_prop["Price"].str.contains("Prezzo")]

df_prop["Title"] = df_prop["Title"].astype(str)

pattern = r'\bcentro\b'
df_prop['Title'] = df_prop['Title'].str.replace(pattern, '', regex=True, case=False)


def capitalize_first_letter(s):
    return s.capitalize()

df_prop['Title'] = df_prop['Title'].apply(capitalize_first_letter)

df_prop

,Title,Price,Surface m^2
1,"via strada nuova 22, codevilla",‚Ç¨ 1.400.000,[24.000 m¬≤]
2,"cascina cassinazza, pantigliate",‚Ç¨ 557.550,[35.998 m¬≤]
7,"via sp9, dello",‚Ç¨ 5.000.000,[50.000 m¬≤]
8,"via trieste, soiano, soiano del lago",‚Ç¨ 2.690.000,[28.000 m¬≤]
9,"via xx settembre, serle",‚Ç¨ 330.000,[25.500 m¬≤]
...,...,...,...
451,"via pastorie 38, treponti, teolo",‚Ç¨ 270.000,[30.000 m¬≤]
453,"via cristoforo colombo 5, localit√† zona tombe...",‚Ç¨ 650.000,[20.000 m¬≤]
454,"via camillo benso di cavour, beverare, san ma...",‚Ç¨ 180.000,[40.000 m¬≤]
455,"via riviera del brenta, fiesso d'artico",‚Ç¨ 1.200.000,[20.000 m¬≤]
456,"viale vicenza, , marostica",‚Ç¨ 1.100.000,[21.700 m¬≤]

In [3]:
import re

def extract_and_convert_to_int(lst):
    match = re.search(r'\d+\.\d+', lst[0])
    if match:
        numeric_part = match.group()
        return float(numeric_part)
    else:
        return None
    
df_prop['Surface m^2'] = df_prop['Surface m^2'].apply(lambda x: extract_and_convert_to_int(x))

df_prop

,Title,Price,Surface m^2
1,"via strada nuova 22, codevilla",‚Ç¨ 1.400.000,24.000
2,"cascina cassinazza, pantigliate",‚Ç¨ 557.550,35.998
7,"via sp9, dello",‚Ç¨ 5.000.000,50.000
8,"via trieste, soiano, soiano del lago",‚Ç¨ 2.690.000,28.000
9,"via xx settembre, serle",‚Ç¨ 330.000,25.500
...,...,...,...
451,"via pastorie 38, treponti, teolo",‚Ç¨ 270.000,30.000
453,"via cristoforo colombo 5, localit√† zona tombe...",‚Ç¨ 650.000,20.000
454,"via camillo benso di cavour, beverare, san ma...",‚Ç¨ 180.000,40.000
455,"via riviera del brenta, fiesso d'artico",‚Ç¨ 1.200.000,20.000
456,"viale vicenza, , marostica",‚Ç¨ 1.100.000,21.700

In [15]:
# From the web scraping we obtained the street but not the coordinates, so we create some function that
# use an API from OpenStreetMap to get latitude and longitude.

import requests

address = "cascina cassinazza, pantigliate"
url = "https://nominatim.openstreetmap.org/search"

params = {'q': address, 'format': 'json'}
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    if data:
        latitude = float(data[0]['lat'])
        longitude = float(data[0]['lon'])
        print("Latitude:", latitude)
        print("Longitude:", longitude)
    else:
        print("No results found for the provided address")
else:
    print("Error:", response.text)

Latitude: 45.4346412
Longitude: 9.370862

In [5]:
import requests
def get_coordinates(address):
    url = "https://nominatim.openstreetmap.org/search"
    params = {'q': address, 'format': 'json'}
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        if data:
            latitude = float(data[0]['lat'])
            longitude = float(data[0]['lon'])
            return latitude, longitude
        else:
            print("No results found for the provided address")
            return None, None
    else:
        print("Error:", response.text)
        return None, None

df_prop['Latitude'], df_prop['Longitude'] = zip(*df_prop["Title"].map(lambda x: get_coordinates(x)))

No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address
No results found for the provided address

In [6]:
df_prop

df_prop.dropna(subset = ["Latitude"], inplace=True)

df_prop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152 entries, 2 to 456
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        152 non-null    object
 1   Price        152 non-null    object
 2   Surface m^2  152 non-null    float64
 3   Latitude     152 non-null    float64
 4   Longitude    152 non-null    float64
dtypes: float64(3), object(2)
memory usage: 7.1+ KB

In [10]:
df_prop.reset_index(inplace=True, drop = True)
df_prop.to_csv("df_prop.csv")
df_prop

,Title,Price,Surface m^2,Latitude,Longitude
0,"cascina cassinazza, pantigliate",‚Ç¨ 557.550,35.998,45.434641,9.370862
1,"via sp9, dello",‚Ç¨ 5.000.000,50.000,42.195237,12.311058
2,"via xx settembre, serle",‚Ç¨ 330.000,25.500,45.556050,10.380836
3,"via franciacorta 74, , rovato",‚Ç¨ 2.630.000,50.000,45.574709,10.002811
4,"via franciacorta, , rovato",‚Ç¨ 2.100.000,30.000,45.574709,10.002811
...,...,...,...,...,...
147,", vazzola",‚Ç¨ 1.800.000,30.000,45.837671,12.379542
148,"via dell'artigianato, portogruaro",‚Ç¨ 1.450.000,29.300,45.761144,12.799030
149,"via pastorie 38, treponti, teolo",‚Ç¨ 270.000,30.000,45.356738,11.700284
150,"via riviera del brenta, fiesso d'artico",‚Ç¨ 1.200.000,20.000,45.418862,12.058331
151,"viale vicenza, , marostica",‚Ç¨ 1.100.000,21.700,45.729590,11.652309

In [8]:
import pandas as pd
df = pd.read_excel("Lombardia_tavole2021-Censimento-permanente.xlsx", sheet_name="Tavola A1_COMUNI", skiprows=2)
df_pop = df[["PROVINCE","Denominazione Comune", "Popolazione al 1¬∞ gennaio - Totale"]]

df_pop['Latitude'], df_pop['Longitude'] = zip(*df_pop["Denominazione Comune"].map(lambda x: get_coordinates(x)))

df_pop

C:\Users\hp\AppData\Local\Temp\ipykernel_14504\1086218449.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pop['Latitude'], df_pop['Longitude'] = zip(*df_pop["Denominazione Comune"].map(lambda x: get_coordinates(x)))
C:\Users\hp\AppData\Local\Temp\ipykernel_14504\1086218449.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pop['Latitude'], df_pop['Longitude'] = zip(*df_pop["Denominazione Comune"].map(lambda x: get_coordinates(x)))

TypeError: Object of type DataFrame is not JSON serializable

In [67]:
import numpy as np
import pandas as pd
import math

# reading the two df
df_ter = pd.read_csv("pop.csv")
df_prop = pd.read_csv("df_prop.csv")

# now we need to calculate the distance matrix, that has 
# the point to point distance between all 152 properties and all 1506 comuni
# note that 152 times 1506 = 228912

# function for calculating distance
def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = 6371 * c  # Radius of the Earth in kilometers

    return distance

#using a list comprehension and a dict comprehension to calculate everything in a single line
distances = {i : [haversine(df_ter.loc[i,"Latitude"],df_ter.loc[i,"Longitude"],df_prop.loc[j,"Latitude"], df_prop.loc[j,"Longitude"]) for j in range(df_prop.shape[0])] for i in range(df_ter.shape[0])}

#making it into a DataFrame
distances = pd.DataFrame(distances)
distances.columns.name = "Comuni"
distances.index.name = "Properties"

#saving to json
distances.to_csv("distances_matrix.csv")

In [70]:
distances = pd.read_csv("distances_matrix.csv", index_col="Properties")
distances.columns.name = "Comuni"

distances

Comuni,0,1,2,3,4,5,6,7,8,9,...,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505
Properties,,,,,,,,,,,,,,,,,,,,,
0,53.807355,55.301730,41.868553,49.123639,51.396856,38.609998,37.997419,39.206865,43.455220,34.620451,...,34.694802,67.156078,64.211259,65.786836,53.604938,49.708593,50.554063,61.774410,60.612487,57.452584
1,433.113055,434.168937,438.208183,444.516740,453.669979,449.004079,450.805922,450.962605,444.301088,449.836553,...,463.022685,497.433083,491.524371,494.981355,483.340387,479.104412,480.167737,487.584600,491.084556,479.307115
2,37.201371,37.223906,49.620183,50.762587,59.327452,62.856060,65.451187,64.672815,54.273630,67.093700,...,107.367739,127.038545,132.574453,130.210454,118.755520,116.739462,116.763368,132.471577,119.791281,132.141134
3,14.541911,15.861830,21.916358,26.142309,35.453826,35.145280,37.645033,37.112963,27.570630,38.698989,...,77.867636,98.658417,103.355279,101.337765,89.664619,87.479739,87.562607,103.091489,91.353526,102.640195
4,14.541911,15.861830,21.916358,26.142309,35.453826,35.145280,37.645033,37.112963,27.570630,38.698989,...,77.867636,98.658417,103.355279,101.337765,89.664619,87.479739,87.562607,103.091489,91.353526,102.640195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,189.142586,188.243368,203.069474,200.383023,205.880484,214.657230,217.133507,215.988295,205.726539,219.802995,...,263.269110,275.653875,284.987975,280.826778,270.882081,269.865488,269.545268,286.051714,269.024365,287.660700
148,221.310994,220.482836,235.216522,232.874587,238.645303,247.070332,249.575397,248.458754,238.106335,252.151607,...,295.289095,308.635139,317.629389,313.651016,303.517512,302.374243,302.097547,318.541161,301.935448,319.816178
149,141.660874,141.342612,154.735208,154.839077,162.525439,167.812167,170.414514,169.547461,159.013536,172.248292,...,212.130405,231.951533,237.844142,235.407076,224.022359,222.000032,222.033876,237.666738,224.765136,236.880935
150,167.169989,166.703072,180.590872,180.016301,187.232198,193.434281,196.029168,195.088189,184.522139,198.075012,...,238.973006,257.268373,263.965179,261.135871,250.017548,248.205385,248.162459,264.051844,250.173383,263.750150
151,132.287994,131.483380,146.183804,144.009549,150.068630,158.138170,160.659338,159.562858,149.161288,163.181431,...,206.238354,220.301587,228.820612,225.052880,214.712552,213.469566,213.223979,229.616799,213.483734,230.772607

### 5.1.2 - Sets
*Comment the code in the next cell that defines the sets/lists needed to define the indexes of the model variables and constraints.*

In [ ]:
# code defines sets

### 5.1.3 - Parameters
*Comment the code in the next cell that reads the data described in Section 5 and defines the dictionaries and/or frames used in the model.*

In [ ]:
# code that reads the input data files

# code that defines the dictionaries and/or frames used in the model.

### 5.1.4 - Variables

*Comment the code in the next cell that defines the variables of the model.*<br>
*Specifically, indicate whether the variables are:*
- *Decision variables, i.e., they model the DMs' decisions, or*
- *Auxiliary variables, i.e., they are used, for example, to linearize the model objectives/constraints.*<br>
*Specify the meaning and the nature (continuous, integer of binary) of each variable.*

In [ ]:
# code that defines the variables

### 5.1.5 - Constraints and Objective(s)
*Comment the code in the next cell that defines the objectives and the constraints of the model.*<br>

In [ ]:
# codes that defines the objectives and the constraints of the model.

## 5.2 - Model solution
*Comment the code in the next cell that calls the functions that solve the model and stores the values of the variables.*

In [ ]:
# code that calls the functions that solve the model and stores the values of the variables.

## 5.3 - Analysis
*Comment the model solutions and their possible applications in the real world with respect to different scenarios.*